$primary-color: #FA7714;
$secondary-color: #4053a0;

.contentBook {
    align-content: center;
    margin: auto;
    // margin-top: 13vh;
    padding: 32px 64px;
    position: relative;
    font-family: 'Roboto', sans-serif;

    .container {
        background-color: $primary-color;
        padding: 20px 50px;
        padding-bottom: 10vh;
        border-radius: 30px;
        color: white;
        width: 40vw;

        .bankTujuan {
            display: flex;
            flex-direction: row;
            padding: 0 25px;
            padding-bottom: 25px;
            
        }

        .keperluan {
            display: flex;
            flex-direction: row;
            padding: 0 25px
        }
    }  


    button {
        margin-top: 40px; 
        margin-left: 35%;
        height: 25px;
        color: white;
        background-color: $primary-color;
        font-size: 100%;
        text-align: center;
        border-radius: 5px;
        position: absolute;
        
    }

}

